@import "mcmojave.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 13.5px;
    font-weight: 500;
    min-height: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    transition: none;
}
 
window#waybar {
    background-color: alpha(@crust, 1);
    color: @bright_text;
    border-bottom: 2px solid alpha(@surface0, 1);
}


#workspaces {
    margin: 0 8px;
   padding: 0;
}

#workspaces button {
    padding: 0 10px;
    color: @overlay0;
    background: transparent;
    font-size: 13px;
    font-weight: 600;

}

#workspaces button:hover {
    background: @surface0;
    color: @text;
}

#workspaces button.focused,
#workspaces button.active {
    color: @accent;
    background: @surface0;
    box-shadow: inset 0 -2px 0 @accent;
}

#workspaces button.urgent {
    color: @red;
    background: @surface0;
}

#mode {
    padding: 0 12px;
    margin: 3px 6px;
    color: @bright_text;
    background: @accent;
    border-radius: 5px;
    font-weight: 600;
}


#clock,
#cpu,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#tray,
#custom-media,
#custom-tlp {
    padding: 0 11px;
    color: @bright_text;
    background: transparent;
    font-weight: 500;
}


#clock {
    font-weight: 600;
    padding: 0 14px 0 11px;
}

#battery {
    margin-right: 8px;
}

#temperature.critical {
    color: @red;
    background: @surface0;
}

#network.disconnected {
    color: @overlay0;
}

#pulseaudio.muted {
    color: @overlay0;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}

#tray {
    padding: 0 10px;
}
 
#tray > .passive {
    -gtk-icon-effect: dim;
}
 
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}


#cpu,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-tlp,
#tray {
    border-left: 2px solid @surface0;
}

#cpu:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-tlp:hover,
#clock:hover {
    background: @surface0;
}
